.row {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-grey);
  justify-content: space-between;
}

.row > div, .rowRight > div {
  padding: 0 20px;
}

.rowRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: block;
}

.query {
  background: var(--color-cyan);
}

.mutation {
  background: var(--color-orange);;
}
