.wrapper {
  background: var(--color-black);
  width: 100%;
  min-height: 300px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.wrapper > div {
  margin: 0 auto;
}
