.wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.wrapper > div {
  margin-bottom: 10px;
}

.stat {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
  justify-items: center;
}

.statNumber {
  font-size: 1.3rem;
  font-weight: 800;
}

.statTitle {
  color: var(--color-text-secondary);
}

.subTitle {
  color: var(--color-text-secondary);
}
