.row {
  position: relative;
  font-size: 12px;
  display: table;
  padding-right: 25px;
}

.bar {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  height: 1.5px;
  bottom: 4px;
  background: black;
}

.duration {
  font-size: 10px;
}

.wrapper {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  display: inline-flex;
  align-items: center;
  text-align: right;
}

.name {
  font-size: 10px;
}
