.wrapper {
  padding-top: 6px;
  padding-left: 50px;
  padding-right: 25px;
  overflow: auto;
  position: relative;
  height: 100%;
}

.rows {
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 16px;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: calc(100% + 100px);
  height: calc(100% + 116px);
}
